<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Accent" value="Orange" />
    <add key="Theme" value="BaseLight" />
  </appSettings>
</configuration>